[submodule "include/ThorsHammer"]
	path = include/ThorsHammer
	url = https://github.com/Loki-Astari/ThorsHammer.git
[submodule "include/websocketpp"]
	path = include/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/jwt"]
	path = include/jwt
	url = https://github.com/Thalhammer/jwt-cpp.git
